<h1>Welcome to Hero Application</h1>

<p><a href="/heroes/new">Add a new hero</a></p>
<p><a href="/heroes">View all current squad</a></p>

<a href="/squads">View Team List</a>
<a href="/squads/new">Add a New Squad</a>