<h1>Welcome to Hero Application</h1>

<a href="/heroes/new">Add a new hero</a>
<a href="/heroes">View all current squad</a>

<a href="/teams">View Team List</a>
<a href="/teams/new">Add a New Squad</a>