<h1>Welcome to Hero Application</h1>

<p id="li"><a href="/heroes/new">Add a new hero</a></p>
<p id="li"><a href="/heroes">View all current squad</a></p>

<p id="li"><a href="/squads">View Team List</a></p>
<p id="li"><a href="/squads/new">Add a New Squad</a></p>

